/*!
 * Stylesheet for design kmom04 colorful.
 *
 * This stylesheet is for the design course and kmom04. Fill it with style
 * to style up the website so it is useable.
 */

 /**
  * Variables
  */

@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');

@backgroundImage: linear-gradient(to right, #FF2200, #E8BE0E);
@colorBody: #1CFF3E; //text
@bgColorBody: #1CFF3E; //ändrar wrap all
@bgColorHtml: #CCF4FF; // ändrar html baKgrund
@accentBgColor: linear-gradient(to right, #FF2200, #E8BE0E);
@accentFontColor: #eee;
@fontColorInner: #000000;  //inre textfärg
@sidebarFontColour: #1CFF3E;

@fontFamilyBody: 'Bree Serif', serif;
@fontFamilyHeader: fantasy;

@lineHeight: 1.4;
@mainFontSize: 1rem;
@mainFontWeight: 200;
@headerFontWeight: 200;

h1,
h2,
h3,
h4,
p
 {
    font-family: @fontFamilyBody;
    font-weight: 200;
}
